**/install/
.DS_Store
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
**/Browse.plb
MoniCopy.app/
stdout.txt
stderr.txt
MoniCopy-1.0.0.msi
MoniCopy-1.0.1.msi
